In [11]:
import pandas as pd
import csv as csv

First we load the files into a pandas dataframe

In [22]:
df_passenger = pd.read_csv("passengerData.csv")
df_ticket = pd.read_excel("ticketPrices.xlsx")

Then we check the column names to find the common key

In [24]:
list(df_ticket.columns)

['TicketType', 'Fare']

In [25]:
list(df_passenger.columns)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'TicketType']

So the common key is the ticket type. we use that to merge the two sets

In [27]:
df_merged = pd.merge(df_passenger,df_ticket, on="TicketType")
df_merged.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,TicketType,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,33
1,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,1,33
2,17,0,3,"Rice, Master. Eugene",male,2.0,1,33
3,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,1,33
4,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,1,33

In [32]:
age = 0
name = 'undefined'
for index, row in df_merged.iterrows():
    if row['Age'] > age:
        age = row['Age']
        name = row['Name']

print("The name of the oldest person is: {}".format(name))

The name of the oldest person is: Barkworth, Mr. Algernon Henry Wilson

In [ ]:
import matplotlib.pyplot as plt